#dropdown-menu-2btn-7 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-7 .navbar-brand a {
  font-size: 25px;
}
#dropdown-menu-2btn-7 .nav .link,
#dropdown-menu-2btn-7 .dropdown-item {
  font-size: 1.4em;
  color: #ffffff;
}
#dropdown-menu-2btn-7 .navbar,
#dropdown-menu-2btn-7 .dropdown-menu {
  background: #5bc0de;
}
#dropdown-menu-2btn-7 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-7 .dropdown-menu a:hover,
#dropdown-menu-2btn-7 .dropdown-menu a:focus {
  background: #4ab9db;
}
#dropdown-menu-2btn-7 .navbar-toggler {
  color: #ffffff;
}
#header4-k H1 {
  font-size: 60px;
  color: #ffffff;
}
#header4-k P {
  font-size: 30px;
  text-align: left;
  color: #ffffff;
}
#features1-m P {
  text-align: left;
}
#form1-q .btn {
  font-size: 20px;
}
#social-buttons2-t .mbr-section-title {
  color: #ffffff;
  font-size: 32px;
}
