#msg-box4-20 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-20 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-20 .mbr-article {
  color: #ffffff;
}
#dropdown-menu-0 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-0 .navbar-brand a {
  font-size: 24px;
}
#dropdown-menu-0 .nav .link,
#dropdown-menu-0 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-0 .navbar,
#dropdown-menu-0 .dropdown-menu {
  background: #3d8eb9;
}
#dropdown-menu-0 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-0 .dropdown-menu a:hover,
#dropdown-menu-0 .dropdown-menu a:focus {
  background: #3882aa;
}
#dropdown-menu-0 .navbar-toggler {
  color: #ffffff;
}
#features1-7 P {
  text-align: center;
  color: #ffffff;
}
#features1-7 .mbr-section__col .mbr-header__text {
  color: #ffffff;
}
#features1-7 .mbr-section-title .mbr-header__text {
  color: #ffffff;
}
#testimonials1-2 .mbr-reviews__author-bio {
  color: #ffffff;
}
#testimonials1-2 .mbr-reviews__author-name {
  color: #ffffff;
}
#testimonials1-2 .mbr-section__header {
  color: #ffffff;
}
#testimonials1-2 .mbr-reviews__text {
  color: #3d8eb9;
}
#contacts3-3 STRONG {
  color: #ffffff;
}
#contacts3-3 P {
  color: #ffffff;
}
#contacts3-3 UL {
  color: #ffffff;
}
#footer1-4 P {
  color: #ffffff;
}
#msg-box4-21 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-21 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-21 .mbr-article {
  color: #ffffff;
}
#dropdown-menu-23 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-23 .navbar-brand a {
  font-size: 24px;
}
#dropdown-menu-23 .nav .link,
#dropdown-menu-23 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-23 .navbar,
#dropdown-menu-23 .dropdown-menu {
  background: #3d8eb9;
}
#dropdown-menu-23 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-23 .dropdown-menu a:hover,
#dropdown-menu-23 .dropdown-menu a:focus {
  background: #3882aa;
}
#dropdown-menu-23 .navbar-toggler {
  color: #ffffff;
}
#contacts3-26 STRONG {
  color: #ffffff;
}
#contacts3-26 P {
  color: #ffffff;
}
#contacts3-26 UL {
  color: #ffffff;
}
#footer1-27 P {
  color: #ffffff;
}
#msg-box4-29 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-29 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-29 .mbr-article {
  color: #ffffff;
}
#dropdown-menu-2b .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2b .navbar-brand a {
  font-size: 24px;
}
#dropdown-menu-2b .nav .link,
#dropdown-menu-2b .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2b .navbar,
#dropdown-menu-2b .dropdown-menu {
  background: #3d8eb9;
}
#dropdown-menu-2b .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2b .dropdown-menu a:hover,
#dropdown-menu-2b .dropdown-menu a:focus {
  background: #3882aa;
}
#dropdown-menu-2b .navbar-toggler {
  color: #ffffff;
}
#contacts3-2e STRONG {
  color: #ffffff;
}
#contacts3-2e P {
  color: #ffffff;
}
#contacts3-2e UL {
  color: #ffffff;
}
#footer1-2f P {
  color: #ffffff;
}
#msg-box4-2h .mbr-header__text {
  color: #ffffff;
}
#msg-box4-2h .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-2h .mbr-article {
  color: #ffffff;
}
#content1-2r H2 {
  color: #3d8eb9;
}
#dropdown-menu-2j .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2j .navbar-brand a {
  font-size: 24px;
}
#dropdown-menu-2j .nav .link,
#dropdown-menu-2j .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2j .navbar,
#dropdown-menu-2j .dropdown-menu {
  background: #3d8eb9;
}
#dropdown-menu-2j .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2j .dropdown-menu a:hover,
#dropdown-menu-2j .dropdown-menu a:focus {
  background: #3882aa;
}
#dropdown-menu-2j .navbar-toggler {
  color: #ffffff;
}
#contacts3-2m STRONG {
  color: #ffffff;
}
#contacts3-2m P {
  color: #ffffff;
}
#contacts3-2m UL {
  color: #ffffff;
}
#footer1-2n P {
  color: #ffffff;
}
