#dropdown-menu-0 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-0 .navbar-brand a {
  font-size: 30px;
}
#dropdown-menu-0 .nav .link,
#dropdown-menu-0 .dropdown-item {
  font-size: 1.4em;
  color: #fff8e0;
}
#dropdown-menu-0 .navbar,
#dropdown-menu-0 .dropdown-menu {
  background: #b14e4b;
}
#dropdown-menu-0 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-0 .dropdown-menu a:hover,
#dropdown-menu-0 .dropdown-menu a:focus {
  background: #a34845;
}
#dropdown-menu-0 .navbar-toggler {
  color: #fff8e0;
}
#header4-2 H1 {
  font-size: 48px;
  color: #fff8e0;
}
#content5-9 .mbr-section-title {
  font-size: 48px;
}
#testimonials1-4 .card-footer > div {
  color: #0275d8;
}
#contacts1-7 B {
  color: #000000;
}
#contacts1-7 P {
  color: #000000;
}
#dropdown-menu-a .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-a .navbar-brand a {
  font-size: 30px;
}
#dropdown-menu-a .nav .link,
#dropdown-menu-a .dropdown-item {
  font-size: 1.4em;
  color: #fff8e0;
}
#dropdown-menu-a .navbar,
#dropdown-menu-a .dropdown-menu {
  background: #b14e4b;
}
#dropdown-menu-a .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-a .dropdown-menu a:hover,
#dropdown-menu-a .dropdown-menu a:focus {
  background: #a34845;
}
#dropdown-menu-a .navbar-toggler {
  color: #fff8e0;
}
#header4-c H1 {
  font-size: 48px;
  color: #fff8e0;
}
#msg-box4-j .mbr-section-title {
  font-size: 32px;
}
#content5-d .mbr-section-title {
  font-size: 46px;
}
#contacts1-i B {
  color: #000000;
}
#contacts1-i P {
  color: #000000;
}
#dropdown-menu-k .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-k .navbar-brand a {
  font-size: 30px;
}
#dropdown-menu-k .nav .link,
#dropdown-menu-k .dropdown-item {
  font-size: 1.4em;
  color: #fff8e0;
}
#dropdown-menu-k .navbar,
#dropdown-menu-k .dropdown-menu {
  background: #b14e4b;
}
#dropdown-menu-k .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-k .dropdown-menu a:hover,
#dropdown-menu-k .dropdown-menu a:focus {
  background: #a34845;
}
#dropdown-menu-k .navbar-toggler {
  color: #fff8e0;
}
#header4-m H1 {
  font-size: 48px;
  color: #fff8e0;
}
#contacts1-r B {
  color: #000000;
}
#contacts1-r P {
  color: #000000;
}
#dropdown-menu-t .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-t .navbar-brand a {
  font-size: 30px;
}
#dropdown-menu-t .nav .link,
#dropdown-menu-t .dropdown-item {
  font-size: 1.4em;
  color: #fff8e0;
}
#dropdown-menu-t .navbar,
#dropdown-menu-t .dropdown-menu {
  background: #b14e4b;
}
#dropdown-menu-t .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-t .dropdown-menu a:hover,
#dropdown-menu-t .dropdown-menu a:focus {
  background: #a34845;
}
#dropdown-menu-t .navbar-toggler {
  color: #fff8e0;
}
#header4-v H1 {
  font-size: 48px;
  color: #fff8e0;
}
#contacts1-x B {
  color: #000000;
}
#contacts1-x P {
  color: #000000;
}
